/* body {
  font-family: sans-serif;
}
html {
  background-color: #ffa781;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav > a {
  display: inline-block;
  margin: 1em;
}

form > div {
  margin: 1em;
  display: inline-block;
} */
/* Navbar */
html {
  background-color: #ffa781;
}
* {
  margin: 0;
}

.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #722620;
  position: sticky;
  text-decoration: none;
  top: 0;
  z-index: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 3px solid black;
}

.navbarLogo {
  width: 100px;
  object-fit: contain;
  margin: 0 10px;
  margin-top: 0px;
}

.headerNav {
  align-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headerProfile,
.headerCart > .MuiSvgIcon-root {
  cursor: pointer;
}

.headerCart > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerProfile > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-content: flex-end;
}

.headerCart {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.headerProfile {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.headerCartCount {
  margin-left: 10px;
  margin-right: 10px;
}

.headerOptionLineOne {
  font-weight: 800;
  text-decoration: none;
}

.headerOption > span:hover {
  color: black;
}

.headerOption > span:hover {
  cursor: pointer;
}
/* Navbar */
/* Homepage CSS */
.HPContainer {
  background-color: #ffa781;
  color: #5b0e2d;
  font-family: 'Lobster Two', cursive;
}
.HP_title_container {
  display: flex;
  justify-content: center;
}

.HP_description_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.HP_Image {
  margin: auto;
}
.HP_Image > img {
  width: 120px;
}

.HP_description {
  margin: auto;
  flex-basis: 20vh;
}

/* All Product Page Styling */
.All_Container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 400px;
  margin-right: 400px;
}

.All_Wine_Image {
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}

.All_Top_Image {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.All_Title {
  text-align: center;
  margin-top: 50px;
  font-size: 500%;
  font-family: Apple Chancery, cursive;
}

.All_Button {
  text-align: center;
  font-size: 120%;
  margin-top: 50px;
}

.All_WineName {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
}

/* SINGLE WINE VIEW */

.singleWineContainer {
  padding: 5rem 15%;
}

.single_backBTN {
  padding-top: 50px;
  padding-left: 10%;
}

.singleWineCard {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5%;
}
.wine_image {
  justify-content: center;
  height: 15%;
  align-items: center;
}
.wine_image > img {
  display: block;
  width: auto;
  max-height: 71rem;
  max-width: 80%;
}
/* .singleWineCard > h1 {
  text-align: center;
} */
.wine_info {
}

.wine_info > ul {
  list-style-type: none;
}

.wine_info > p {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.quantity {
  width: 200px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 65px;
}

/* CONTACT US */
.contact-main > h1 {
  text-align: center;
}
.contact-container {
  padding: 5rem 15%;
}

.contact-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 5%;
}

.contact-call,
.email {
  border: 1px black solid;
  margin: 5vh;
  padding: 5vh;
  text-align: center;
  height: 10rem;
  width: 20rem;
}
