/* 2 color Combo
Maroon - #5b0e2d
Peach - #ffa781
*/

/* Navbar */
html {
  background-color: #fcb89b;
}
* {
  margin: 0;
}

.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #722620;
  position: sticky;
  text-decoration: none;
  top: 0;
  z-index: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 3px solid black;
}

.navbarLogo {
  width: 75px;

  /* object-fit: contain; */
  margin-right: auto;
  padding: auto;
}

.headerCart > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerNav {
  align-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headerProfile,
.headerCart > .MuiSvgIcon-root {
  cursor: pointer;
}

.headerCart > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerProfile > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-content: flex-end;
}

.headerCart {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.headerProfile {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.headerLogout {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.headerCartCount {
  margin-left: 10px;
}

.headerOptionLineOne {
  font-weight: 800;
  text-decoration: none;
}

.headerOption > span:hover {
  color: black;
}

.headerOption > span:hover {
  cursor: pointer;
}
/* Navbar */

/* All Product Page Styling */
hr {
  width: 900px;
  border: 1px solid black;
  margin-top: 40px;
}

.All_Horizontal {
  display: flex;
  justify-content: center;
}

.All_Container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-right: 350px;
}

.All_Wine_Image {
  height: 400px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 30px;
}

.All_Top_Image {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.All_Title {
  text-align: center;
  margin-top: 40px;
  font-size: 500%;
  font-family: Apple Chancery, cursive;
}

.All_Button {
  text-align: center;
  font-size: 120%;
  margin-top: 30px;
}

.All_WineName {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  margin-top: 10%;
  margin-bottom: 20%;
}

/* SINGLE WINE VIEW */
.singleWineMain {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  max-height: 5rem;
}

.single_backBTN {
  padding-top: 50px;
  padding-left: 10%;
}
.singleWineContainer {
  padding: 5rem 15%;
  display: flex;
  justify-content: space-evenly;
}

.singleWineCard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
  padding: 5%;
}

.wine_image {
  justify-content: center;
  height: 15%;
  align-items: center;
}
.wine_image > img {
  display: block;
  width: auto;
  max-height: 500px;
  max-width: 700px;
}
.singleWineCard > wine_info > h1 {
  text-align: center;
}

.wine_info {
  /* border: 1px black solid; */
  /* margin: 5vh; */
  padding: 5vh;
  /* text-align: center; */
  height: 10rem;
  width: 20rem;
}
/* .wine_info > h1 {
  text-align: center;
  font-size: 200%;
} */
.wine_info > ul {
  list-style-type: none;
  font-size: 120%;
}

.quantity {
  width: 250px;
  border: black 1px solid;
  display: flex;
  margin: 30%;
  padding: 3%;
  /* align-items: center;
  margin-top: 35px;
  margin-bottom: 65px; */
}
.quantity > h1 {
  font-size: 250%;
}

.wine_total {
  text-align: center;
  font-size: 200%;
}

/* cart
*/

.cart {
  display: flex;
  flex-direction: column;
  /* padding: 20px;
  background-color: #ffa781;
  height: max-content; */
  align-items: center;
}
.cartAd {
  width: 100%;
  height: 453px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.cartTitle {
  text-align: center;
  margin-right: 10px;
  padding: 10px;
  font-family: Apple Chancery, cursive;
  font-size: 500%;
  /* border-bottom: 1px solid lightgray; */
}
.cartLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
  /* width: 300px; */
  height: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 20px;
  border: black 1px solid;
}
.cart-CardItems > h1 {
  font-family: Apple Chancery, cursive;
  font-size: 200%;
}
.cart-CardItems {
  border: black 1px dotted;
  display: flex;
  flex-direction: column;
}

.cartRight {
  flex-direction: column;
  display: flex;
}
.subtotal {
  display: flex;
  /* position: sticky; */
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid black;
  border-radius: 20px;
}

.subtotalCoupon {
  display: flex;
  align-items: center;
}
.subtotalCoupon > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #722620;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #5b0e2d;
  color: #111;
}
/* CONTACT US */
.contact-main {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  max-height: 5rem;
}
.contact-main > h1 {
  text-align: center;
  font-size: 500%;
  font-family: Apple Chancery, cursive;
}
.contact-main > img {
  width: 100%;
  height: 453px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.contact-container {
  /* padding: 2rem 15%; */
}

.contact-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding: 5%;
}

.contact-call,
.email {
  border: 1px black solid;
  margin: 5vh;
  padding: 5vh;
  text-align: center;
  height: 10rem;
  width: 20rem;
}

/* CHECKOUT STYLING */
.CHECKOUT_Main_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

.CHECKOUT_Container {
  width: 60%;
  /* display: flex; */
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.CHECKOUT_Title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 250%;
  font-family: Apple Chancery, cursive;
}

.CHECKOUT_Summary_Box {
  width: 40%;
  /* justify-content: center; */
  border: 1px rgb(150, 150, 150) solid;
  margin: 10vh;
  padding: 5vh;
  /* text-align: center; */
  height: 30rem;
  width: 20rem;
  border-radius: 15px;
}

/* .CHECKOUT_Form {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 100%
} */
/*
.CHECKOUT_Form_Button {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.AddWine_Title {
  font-size: 50px;
  font-family: Apple Chancery, cursive;
  margin-bottom: 10px;
  justify-content: center;
}

/* CART */
.itemContainer {
  display: flex;
}
.itemContainer > img {
  height: 10vh;
}
