/* body {
  font-family: sans-serif;
}
html {
  background-color: #ffa781;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav > a {
  display: inline-block;
  margin: 1em;
}

form > div {
  margin: 1em;
  display: inline-block;
} */
/* Navbar */
html {
  background-color: #ffa781;
}
* {
  margin: 0;
}

.navbar {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #722620;
  position: sticky;
  text-decoration: none;
  top: 0;
  z-index: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 3px solid black;
}

.navbarLogo {
  width: 100px;
  object-fit: contain;
  margin: 0 10px;
  margin-top: 0px;
}

.headerNav {
  align-content: flex-end;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headerProfile,
.headerCart > .MuiSvgIcon-root {
  cursor: pointer;
}

.headerCart > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerProfile > .MuiSvgIcon-root:hover {
  color: Black;
}

.headerOption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  align-content: flex-end;
}

.headerCart {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.headerProfile {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.headerCartCount {
  margin-left: 10px;
  margin-right: 10px;
}

.headerOptionLineOne {
  font-weight: 800;
  text-decoration: none;
}

.headerOption > span:hover {
  color: black;
}

.headerOption > span:hover {
  cursor: pointer;
}
/* Navbar */
/* Homepage CSS */
.HPContainer {
  background-color: #ffa781;
  color: #5b0e2d;
  font-family: 'Lobster Two', cursive;
}
.HP_title_container {
  display: flex;
  justify-content: center;
}

.HP_description_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.HP_Image {
  margin: auto;
}
.HP_Image > img {
  width: 120px;
}

.HP_description {
  margin: auto;
  flex-basis: 20vh;
}

/* All Product Page Styling */
.All_Container {
  display: flex;
  justify-content: center;
}

.All_Wine_Image {
  height: 400px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.All_Top_Image {
  display: flex;
  justify-content: center;
  width: 1800px;
}

.All_button_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
